body {
	max-width: 400px;
	margin: 0 auto;
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
	padding: 10px;
}

table {
	width: 100%;
}

table td {
	text-align: left;
}

/* button without native styling */
button {
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-size: 150%
}

.price {
	text-align: right;
	padding-right: 3em;
}

td {
	padding: 5px;
}

.reset {
	font-size: 100%;
	position: relative;
	top: -15px;
}
